<!--Start Tour information part-->
<div>
    <div class="row">
        <div class="col-md-4">
            {{#each destInfo}}
                <img src="{{this.dest_image}}" id="destImg"/>
            {{/each}}
        </div>
        <div class="col-md-8">
            {{#each tourInfo}}
                <table class="table table-sm table-borderless tableCustom">
                    <thead>
                        <tr><th colspan="2">{{this.tour_name}}</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Thời gian</th>
                            <td>{{this.tour_time}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Khởi hành: </th>
                            <td>{{this.tour_date_go}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phương tiện: </th>
                            <td>{{this.tour_vehicle}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Xuất phát: </th>
                            <td>{{this.tour_dest_start}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Điểm đến: </th>
                            <td>{{this.tour_dest_end}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Giá tour: </th>
                            <td>{{this.tour_price}} VNĐ</td>
                        </tr>
                    </tbody>
                </table>
            {{/each}}
        </div>
    </div>
</div>
<!--End Tour information part-->

<!--Start Tour price information part-->
<div>
    <h2>BẢNG GIÁ TOUR CHI TIẾT</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Người lớn (Từ 12 tuổi trở lên)</th>
                <th scope="col">Trẻ em (Từ 5 tuổi đến dưới 12 tuổi)</th>
                <th scope="col">Trẻ nhỏ (Từ 2 tuổi đến dưới 5 tuổi)</th>
                <th scope="col">Em bé (Dưới 2 tuổi)</th>
                <th scope="col">Phụ thu phòng đơn</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td id="adult"></td>
                <td id="child5to11"></td>
                <td id="child2to4"></td>
                <td id="childUnder2"></td>
                <td id="surcharge"></td>
                <script>
                    {{#each tourInfo}}
                        let originalPrice = '{{this.tour_price}}';
                        let surcharge = '{{this.tour_surcharge}}';
                        // console.log(originalPrice);
                        let child5to11Price = parseInt(originalPrice.split(".").join("")) * (75/100);
                        child5to11Price = child5to11Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");

                        let child2to4Price = parseInt(originalPrice.split(".").join("")) * (50/100);
                        child2to4Price = child2to4Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");

                        let childUnder2Price = parseInt(originalPrice.split(".").join("")) * (25/100);
                        childUnder2Price = childUnder2Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");

                        document.getElementById("adult").innerHTML = originalPrice + " đ";
                        document.getElementById("child5to11").innerHTML = child5to11Price + " đ";
                        document.getElementById("child2to4").innerHTML = child2to4Price + " đ";
                        document.getElementById("childUnder2").innerHTML = childUnder2Price + " đ";
                        document.getElementById("surcharge").innerHTML = surcharge + " đ";
                    {{/each}}
                </script>
            </tr>
        </tbody>
    </table>
</div>
<!--End Tour price information part-->

<!-- Start Customer information part-->
<div>
    <h2>THÔNG TIN KHÁCH HÀNG</h2>
    <!--Start form /booking/bookingDetails -->
	<form action="/booking/bookingDetails" name="bookingForm" method="POST" onsubmit="return validateBookingForm()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" name="fullName[]">
                    <p id="fullnameErr0" class="errorMessage"></p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" name="phoneNumber">
                    <p id="phoneNumberErr" class="errorMessage"></p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" name="gender[]">
                        <option value="0" selected>Nữ</option>
                        <option value="1">Nam</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" class="form-control" name="address">
            <p id="addressErr" class="errorMessage"></p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <legend class="col-form-label pt-0">Ngày sinh</legend>
                    <div class="row">
                        <div class="col" id="selectDay"></div>
                        <div class="col" id="selectMonth"></div>
                        <div class="col" id="selectYear"></div>
                    </div>
                </fieldset>
            </div>

            <!-- handle display list of days, months, years -->
            <script>
                let optionsDay = "<select class='form-control' name='days[]'>";
                optionsDay += "<option>Ngày</option>";
                for(let day = 1; day <= 31; day++){
                    optionsDay += `<option value=${day}>${day}</option>`;
                }
                optionsDay += "</select>";
                optionsDay += "<p id='dayErr0' class='errorMessage'></p>";

                let optionsMonth = "<select class='form-control' name='months[]'>";
                optionsMonth += "<option>Tháng</option>";
                for(let month = 1; month <= 12; month++){
                    optionsMonth += `<option value=${month}>${month}</option>`;
                }
                optionsMonth += "</select>";
                optionsMonth += "<p id='monthErr0' class='errorMessage'></p>";

                let currentYear = new Date().getFullYear(); // get the current year
                let optionsYear = "<select class='form-control' name='years[]'>";
                optionsYear += "<option>Năm</option>";
                for(let year = currentYear; year >= currentYear-70; year--){
                    optionsYear += `<option value=${year}>${year}</option>`;
                }
                optionsYear += "</select>";
                optionsYear += "<p id='yearErr0' class='errorMessage'></p>";

                document.getElementById("selectDay").innerHTML = optionsDay;
                document.getElementById("selectMonth").innerHTML = optionsMonth;
                document.getElementById("selectYear").innerHTML = optionsYear;
            </script>

            <div class="col">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Phòng đơn</label>
                            <select class='form-control' name="singleRoom[]">
                                <option value="0" selected>Không</option>
                                <option value="1">Có</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Số người đi cùng</label>
                            <input type="text" class="form-control" id="nbCustomers" name="nbCustomers" onchange="loadHtmlTable(this.value)">
                            <p id="nbCustomersErr" class="errorMessage"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Ghi chú</label>
            <textarea class="form-control" name="note" rows="3"></textarea>
        </div>

        {{#each tourInfo}}
        <input type="hidden" name="tourId" value="{{this.tour_id}}"/>
        <input type="hidden" name="tourPrice" value="{{this.tour_price}}"/>
        <input type="hidden" name="tourSurcharge" value="{{this.tour_surcharge}}"/>
        {{/each}}

        <!-- handle show form -->
        <script>
            function loadHtmlTable(nbCustomers){
                let currentYear = new Date().getFullYear();
                let tableHtml = "<h2>NHẬP THÔNG TIN NHỮNG NGƯỜI ĐI CÙNG</h2>";

                for(let i = 0; i < nbCustomers; i++){
                    tableHtml += "<table class='table table-bordered'>";
                    tableHtml += "<thead>";
                    tableHtml += `<tr><th colspan='5' scope='col'>Khách hàng ${i+1} </th></tr>`;
                    tableHtml += "</thead>";

                    tableHtml += "<tbody>";
                    tableHtml += "<tr>";

                    let idFullname = "fullnameErr" + (i+1).toString();

                    tableHtml += "<td>";
                    tableHtml += "<div class='form-group'>";
                    tableHtml += "<label>Họ tên</label>";
                    tableHtml += "<input type='text' class='form-control' name='fullName[]'>";
                    tableHtml += `<p id='${idFullname}' class='errorMessage'></p>`
                    tableHtml += "</div>";
                    tableHtml += "</td>";

                    tableHtml += "<td>";
                    tableHtml += "<div class='form-group'>";
                    tableHtml += "<label>Giới tính</label>";
                    tableHtml += "<select class='form-control' name='gender[]'>";
                    tableHtml += "<option value='0' selected>Nữ</option> <option value='1'>Nam</option>";
                    tableHtml += "</select>";
                    tableHtml += "</div>";
                    tableHtml += "</td>";

                    let idDay = "dayErr" + (i+1).toString();
                    let idMonth = "monthErr" + (i+1).toString();
                    let idYear = "yearErr" + (i+1).toString();

                    tableHtml += "<td>";
                    tableHtml += "<div class='form-group'>";
                    tableHtml += "<label>Ngày sinh</label>";
                    tableHtml += "<div class='row'>";
                    tableHtml += "<div class='col'>";
                    tableHtml += "<select class='form-control' name='days[]'>";
                    tableHtml += "<option>Ngày</option>";
                    for(let day = 1; day <= 31; day++){
                        tableHtml += `<option value='${day}'>${day}</option>`
                    }
                    tableHtml += "</select>";
                    tableHtml += `<p id='${idDay}' class='errorMessage'></p>`
                    tableHtml += "</div>";

                    tableHtml += "<div class='col'>";
                    tableHtml += "<select class='form-control' name='months[]'>";
                    tableHtml += "<option>Tháng</option>";
                    for(let month = 1; month <= 12; month++){
                        tableHtml += `<option value='${month}'>${month}</option>`;
                    }
                    tableHtml += "</select>";
                    tableHtml += `<p id='${idMonth}' class='errorMessage'></p>`
                    tableHtml += "</div>";

                    tableHtml += "<div class='col'>";
                    tableHtml += "<select class='form-control' name='years[]'>";
                    tableHtml += "<option>Năm</option>";
                    for(let year = currentYear; year >= currentYear-70; year--){
                        tableHtml += `<option value='${year}'>${year}</option>`;
                    }
                    tableHtml += "</select>";
                    tableHtml += `<p id='${idYear}' class='errorMessage'></p>`
                    tableHtml += "</div>";
                    tableHtml += "</div>";
                    tableHtml += "</div>";
                    tableHtml += "</td>";

                    tableHtml += "<td>";
                    tableHtml += "<div class='form-group'>";
                    tableHtml += "<label>Phòng đơn</label>";
                    tableHtml += "<select class='form-control' name='singleRoom[]'>";
                    tableHtml += "<option value='0' selected>Không</option> <option value='1'>Có</option>"
                    tableHtml += "</select>"
                    tableHtml += "</div>";
                    tableHtml += "</td>";

                    tableHtml += "</tr>";

                }
                tableHtml += "</tbody>";
                tableHtml += "</table>";

                document.getElementById("listCustomers").innerHTML = tableHtml;
            }
        </script>

        <!--Start list of Customers information part-->
        <div id="listCustomers"></div>
        <!--End list of Customers information part-->

        <!-- Submit Button  -->
		<div class="form-group row">
			<div class="col-md-9">
				<button type="submit" class="btn btn-primary btn-customized">Đặt tour</button>
			</div>
		</div>
	</form>
    <!--End form-->
<div>
<!--End Customer information part-->
