<div class="container-fluid">
    <h3>Nhập thông tin địa điểm</h3>
    <form method="POST">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Mã địa điểm</label>
                <input type="text" class="form-control" name="destId">
            </div>

            <div class="col-md-6 mb-3">
                <label>Tên địa điểm</label>
                <input type="text" class="form-control" name="destName">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Tỉnh/Thành phố</label>
                <input type="text" class="form-control" name="destAddress">
            </div>
        </div>

        <div class="form-row">
            <label>Hình ảnh</label>
            <input type="file" class="form-control-file" name="destImg">
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button class="btn btn-info" value="addDestAct" name="addDest" data-act='btnAddDest'>Thêm</button>
                <button class="btn btn-info" value="updateDestAct" name="updateDest" data-act='btnUpdateDest'>Cập nhật</button>
                <button class="btn btn-info" value="editDestAct" name="editDest" data-act='btnEditDest'>Sửa</button>
                <button class="btn btn-info" value="deleteDestAct" name="deleteDest" data-act='btnDeleteDest'>Xóa</button>
            </div>
        </div>
    </form>

    <div class="dataGrid">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Mã địa điểm</th>
                    <th scope="col">Tên địa điểm</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#if destInfo.length}}
                    {{#each destInfo}}
                        <tr>
                            <th scope="row">{{this.dest_id}}</th>
                            <td>{{this.dest_name}}</td>
                            <td>{{this.dest_address}}</td>
                            <td>{{this.dest_image}}</td>
                            <td><input class='chooseDest' name="dest" type="checkbox" value="{{this.dest_id}}"/></td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr><td class="noData" colspan="5">Không có dữ liệu</td></tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
