<div class="container-fluid">
    <h3>Nhập thông tin tour</h3>
    <form id="tourForm" name="tourInfoForm">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Mã tour</label>
                <input type="text" class="form-control" id="tourId" name="tourId">
                <p id="tourIdErrorMessage" class="errorMessage"></p>
            </div>

            <div class="col-md-6 mb-3">
                <label>Tên tour</label>
                <input type="text" class="form-control" id="tourName" name="tourName">
                <p id="tourNameErrorMessage" class="errorMessage"></p>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Giá tour</label>
                <input type="text" class="form-control" id="tourPrice" name="tourPrice" placeholder="VNĐ">
                <p id="tourPriceErrorMessage" class="errorMessage"></p>
            </div>
            <div class="col">
                <label>Phụ thu phòng đơn</label>
                <input type="text" class="form-control" id="tourSurcharge" name="tourSurcharge" placeholder="VNĐ">
                <p id="tourSurchargeErrorMessage" class="errorMessage"></p>
            </div>
            <div class="col">
                <label>Phương tiện</label>
                <input type="text" class="form-control" id="tourVehicle" name="tourVehicle">
                <p id="tourVehicleErrorMessage" class="errorMessage"></p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label>Số lượng khách tối đa</label>
                <select class="custom-select" id="maxTourist" name="maxTourist">
                    <option value="35">35 người</option>
                    <option value="30">30 người</option>
                    <option value="25">25 người</option>
                    <option value="20">20 người</option>
                    <option value="15">15 người</option>
                    <option value="10">10 người</option>
                    <option value="5">5 người</option>
                </select>
            </div>
            <div class="col">
                <label>Số lượng khách tối thiểu</label>
                <select class="custom-select" id="minTourist" name="minTourist">
                    <option value="5">5 người</option>
                    <option value="10">10 người</option>
                    <option value="15">15 người</option>
                    <option value="20">20 người</option>
                    <option value="25">25 người</option>
                    <option value="30">30 người</option>
                    <option value="35">35 người</option>
                </select>
            </div>
            <div class="col">
                <label>Trạng thái</label>
                <div class="form-row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="tourStatus" checked="checked">
                        <label class="form-check-label">Hiện</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="tourStatus">
                        <label class="form-check-label">Ẩn</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Ngày khởi hành</label>
                <input type="text" class="form-control" id="dateGo" name="dateGo" placeholder="dd/mm/yyyy">
                <p id="dateGoErrorMessage" class="errorMessage"></p>
            </div>
            <div class="col">
                <label>Thời gian</label>
                <input type="text" class="form-control" id="time" name="time" placeholder="3 ngày 2 đêm">
                <p id="timeErrorMessage" class="errorMessage"></p>
            </div>
            <div class="col">
                <label>Địa điểm xuất phát</label>
                <select class="custom-select" id="destStart" name="destStart">
                    {{#each destCity}}
                        <option value="{{this.dest_address}}">{{this.dest_address}}</option>
                    {{/each}}
                </select>
                <p id="destStartErrorMessage" class="errorMessage"></p>
            </div>
            <div class="col">
                <label>Điểm đến</label>
                <select class="custom-select" id="destEnd" name="destEnd[]" multiple>
                    {{#each destCity}}
                        <option value="{{this.dest_address}}">{{this.dest_address}}</option>
                    {{/each}}
                </select>
                <p id="destEndErrorMessage" class="errorMessage"></p>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Địa điểm tham quan</label>
                <select class="custom-select" id="touristDest" name="touristDest[]" multiple>
                    {{#each destInfo}}
                        <option value="{{this.dest_id}}">{{this.dest_name}} - {{this.dest_address}}</option>
                    {{/each}}
                </select>
                <p id="touristDestErrorMessage" class="errorMessage"></p>
            </div>
        </div>

        <div class="form-group">
            <label>Chương trình Tour</label>
            <textarea id="summernote" name="tourDescription"></textarea>
            <p id="tourDescriptionErrorMessage" class="errorMessage"></p>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button class="btn btn-info" value="addTourAct">Thêm</button>
                <button class="btn btn-info" value="editTourAct">Sửa</button>
                <button class="btn btn-info" value="deleteTourAct">Xóa</button>
            </div>
        </div>
    </form>

    <h3>Thông tin Tour</h3>
    <div class="table-wrapper-scroll-y dataGrid" id="dataGrid"></div>

    <script>
        let plainText, htmlCode, parser, id;

        let htmlTable = "<table class='table table-sm table-bordered table-striped table-hover mb-0'>";
        htmlTable += "<thead>";
        htmlTable += "<tr>";
        htmlTable += "<th scope='col'>Mã tour</th>";
        htmlTable += "<th scope='col'>Tên tour</th>";
        htmlTable += "<th scope='col'>Giá tour</th>";
        htmlTable += "<th scope='col'>Phụ thu phòng đơn</th>";
        htmlTable += "<th scope='col'>Phương tiện</th>";
        htmlTable += "<th scope='col'>Khởi hành</th>";
        htmlTable += "<th scope='col'>Thời gian</th>";
        htmlTable += "<th scope='col'>Địa điểm xuất phát</th>";
        htmlTable += "<th scope='col'>Điểm đến</th>";
        htmlTable += "<th scope='col'>Địa điểm tham quan</th>";
        htmlTable += "<th scope='col'>Số lượng khách tối đa</th>";
        htmlTable += "<th scope='col'>Số lượng khách tối thiểu</th>";
        htmlTable += "<th scope='col'>Trạng thái</th>";
        htmlTable += "<th scope='col'>Mô tả</th>";
        htmlTable += "<th scope='col'>Chọn</th>";
        htmlTable += "</tr>";
        htmlTable += "</thead>";

        htmlTable += "<tbody>";
        {{#if tourInfo.length}}
            {{#each tourInfo}}
                plainText = '{{this.tour_description}}';
                parser = new DOMParser();
                htmlCode = parser.parseFromString(plainText, "text/html");
                htmlCode = htmlCode.body.outerText;

                htmlTable += "<tr>";
                htmlTable += "<th scope='row'>{{this.tour_id}}</th>";
                htmlTable += "<td>{{this.tour_name}}</td>";
                htmlTable += "<td>{{this.tour_price}}</td>";
                htmlTable += "<td>{{this.tour_surcharge}}</td>";
                htmlTable += "<td>{{this.tour_vehicle}}</td>";
                htmlTable += "<td>{{this.tour_date_go}}</td>";
                htmlTable += "<td>{{this.tour_time}}</td>";
                htmlTable += "<td>{{this.tour_dest_start}}</td>";
                htmlTable += "<td>{{this.tour_dest_end}}</td>";
                htmlTable += "<td>{{this.destinationName}}</td>";
                htmlTable += "<td>{{this.tour_max_customer}}</td>";
                htmlTable += "<td>{{this.tour_min_customer}}</td>";

                if({{this.tour_status}} == 1)
                    htmlTable += '<td>Hiện</td>';
                else htmlTable += '<td>Ẩn</td>';

                htmlTable += `<td>${htmlCode}</td>`;

                id = '{{this.tour_id}}';
                htmlTable += `<td><input class='chooseTour' name='tour' type='checkbox' value='${id}'/></td>`
                htmlTable += "</tr>";
            {{/each}}
        {{else}}
            htmlTable += "<tr><td class='noData' colspan='15'>Không có dữ liệu</td></tr>";
        {{/if}}
        htmlTable += "</tbody>";
        htmlTable += "</table>";

        document.getElementById("dataGrid").innerHTML = htmlTable;
    </script>

    <script>
        // get all tour id from checkbox (checked)
        let tours = [];
        let checkBoxsTour = document.querySelectorAll(".chooseTour");
        checkBoxsTour.forEach((item, i) => {
            item.onclick = function(){
                if(item.checked){
                    console.log(item.value);
                    tours.push(item.value);
                }
            }
        });

        // using jquery to handle validation and submission form
        $(document).ready(function(){
            var checked = true;

            function validationForm(){
                let tourIdVal = $("#tourId").val();
                let tourNameVal = $("#tourName").val();
                let tourPriceVal = $("#tourPrice").val();
                let tourSurchargeVal = $("#tourSurcharge").val();
                let tourVehicleVal = $("#tourVehicle").val();
                let dateGoVal = $("#dateGo").val();
                let timeVal = $("#time").val();
                let destEnd = document.getElementById("destEnd");
                let touristDestVal = document.getElementById("touristDest");
                let tourDescriptionVal = $("#summernote").val();

                if(tourIdVal.length == 0){
                    $("#tourIdErrorMessage").show();
                    $("#tourIdErrorMessage").html("* Trường Mã tour không được bỏ trống.");
                    checked = false;
                }
                else if(tourIdVal.length > 10){
                    $("#tourIdErrorMessage").show();
                    $("#tourIdErrorMessage").html("* Trường Mã tour chỉ có độ dài tối đa là 10 kí tự.");
                    checked = false;
                }

                if(tourNameVal.length == 0){
                    $("#tourNameErrorMessage").show();
                    $("#tourNameErrorMessage").html("* Trường Tên tour không được bỏ trống.");
                    checked = false;
                }

                let rePrice = /[0-9,.]/;
                if(tourPriceVal.length == 0){
                    $("#tourPriceErrorMessage").show();
                    $("#tourPriceErrorMessage").html("* Trường Giá tour không được bỏ trống.");
                    checked = false;
                }
                else if(!tourPriceVal.match(rePrice)){
                    $("#tourPriceErrorMessage").show();
                    $("#tourPriceErrorMessage").html("* Giá tour không được phép chứa ký tự. Bạn chỉ có thể dùng dấu chấm (.) hoặc phẩy (,) để phân cách các đơn vị. Ví dụ: 100.000 hoặc 1,000,000");
                    checked = false;
                }

                if(tourSurchargeVal.length == 0){
                    $("#tourSurchargeErrorMessage").show();
                    $("#tourSurchargeErrorMessage").html("* Trường Phụ thu không được bỏ trống.");
                    checked = false;
                }
                else if(!tourSurchargeVal.match(rePrice)){
                    $("#tourSurchargeErrorMessage").show();
                    $("#tourSurchargeErrorMessage").html("* Giá phụ thu không được phép chứa ký tự. Bạn chỉ có thể dùng dấu chấm (.) hoặc phẩy (,) để phân cách các đơn vị. Ví dụ: 100.000 hoặc 1,000,000");
                    checked = false;
                }

                if(tourVehicleVal.length == 0){
                    $("#tourVehicleErrorMessage").show();
                    $("#tourVehicleErrorMessage").html("* Trường Phương tiện không được bỏ trống.");
                    checked = false;
                }

                reDate = /\d\d[/]\d\d[/]\d\d\d\d/;
                if(dateGoVal.length == 0){
                    $("#dateGoErrorMessage").show();
                    $("#dateGoErrorMessage").html("* Trường Ngày khởi hành không được bỏ trống.");
                    checked = false;
                }
                else if(!dateGoVal.match(reDate)){
                    $("#dateGoErrorMessage").show();
                    $("#dateGoErrorMessage").html("* Vui lòng nhập ngày theo định dạng là dd/mm/yyyy");
                    checked = false;
                }

                if(timeVal.length == 0){
                    $("#timeErrorMessage").show();
                    $("#timeErrorMessage").html("* Trường Thời gian không được bỏ trống.");
                    checked = false;
                }

                if(!selectedItem(destEnd)){
                    $("#destEndErrorMessage").show();
                    $("#destEndErrorMessage").html("* Vui lòng chọn Điểm đến.");
                    checked = false;
                }

                if(!selectedItem(touristDestVal)){
                    $("#touristDestErrorMessage").show();
                    $("#touristDestErrorMessage").html("* Vui lòng chọn Địa điểm tham quan.");
                    checked = false;
                }

                if(tourDescriptionVal.length == 0){
                    $("#tourDescriptionErrorMessage").show();
                    $("#tourDescriptionErrorMessage").html("* Trường Chương trình tour không được bỏ trống.");
                    checked = false;
                }
            }

            $("#tourForm button").click(function(){
                if($(this).attr("value") == "addTourAct"){
                    validationForm();
                    if(checked == true){
                        $("#tourForm").attr("method", "POST");
                        $("#tourForm").attr("action", "/manage/tour/add");
                        return true;
                    }
                    else {
                        checked = true;
                        return false;
                    }
                }
                if($(this).attr("value") == "editTourAct"){
                    $("#tourForm").attr("method", "POST");
                    $("#tourForm").attr("action", "/manage/tour/edit?id='"+tours+"'");
                }
                if($(this).attr("value") == "deleteTourAct"){
                    $("#tourForm").attr("method", "POST");
                    $("#tourForm").attr("action", "/manage/tour/delete?id='"+tours+"'");
                }
            });
        });

        // function to check whether a dropdown is selected
        function selectedItem(object){
            for (let i = 0, len = object.options.length; i < len; i++) {
                let opt = object.options[i];
                if (opt.selected === true ) {
                    return true;
                }
            }
            return false;
        }
    </script>
</div>
