<div class="container-fluid">
    <h3>Nhập thông tin tour</h3>
    <form method="POST">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Mã tour</label>
                <input type="text" class="form-control" name="tourId">
            </div>

            <div class="col-md-6 mb-3">
                <label>Tên tour</label>
                <input type="text" class="form-control" name="tourName">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Giá tour</label>
                <input type="text" class="form-control" name="tourPrice" placeholder="VNĐ">
            </div>
            <div class="col">
                <label>Phụ thu phòng đơn</label>
                <input type="text" class="form-control" name="tourSurcharge" placeholder="VNĐ">
            </div>
            <div class="col">
                <label>Phương tiện</label>
                <input type="text" class="form-control" name="tourVehicle">
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label>Số lượng khách tối đa</label>
                <select class="custom-select" name="maxTourist">
                    <option value="25">25 người</option>
                    <option value="30">30 người</option>
                    <option value="35">35 người</option>
                </select>
            </div>
            <div class="col">
                <label>Số lượng khách tối thiểu</label>
                <select class="custom-select" name="minTourist">
                    <option value="20">20 người</option>
                    <option value="15">15 người</option>
                </select>
            </div>
            <div class="col">
                <label>Trạng thái</label>
                <div class="form-row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="tourStatus" checked="checked">
                        <label class="form-check-label">Hiện</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="tourStatus">
                        <label class="form-check-label">Ẩn</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Ngày khởi hành</label>
                <input type="text" class="form-control" name="dateGo" placeholder="dd/mm/yyyy">
            </div>
            <div class="col">
                <label>Thời gian</label>
                <input type="text" class="form-control" name="time" placeholder="3 ngày 2 đêm">
            </div>
            <div class="col">
                <label>Địa điểm xuất phát</label>
                <select class="custom-select" name="destStart">
                    {{#each destCity}}
                        <option value="{{this.dest_address}}">{{this.dest_address}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <label>Điểm đến</label>
                <select class="custom-select" name="destEnd[]" multiple>
                    {{#each destCity}}
                        <option value="{{this.dest_address}}">{{this.dest_address}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Địa điểm tham quan</label>
                <select class="custom-select" name="touristDest[]" multiple>
                    {{#each destInfo}}
                        <option value="{{this.dest_id}}">{{this.dest_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Chương trình Tour</label>
            <textarea id="summernote" name="tourDescription"></textarea>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button class="btn btn-info" value="addTourAct" name="addTour" data-act='btnAddTour'>Thêm</button>
                <button class="btn btn-info" value="editTourAct" name="editTour" data-act='btnEditTour'>Sửa</button>
                <button class="btn btn-info" value="deleteTourAct" name="deleteTour" data-act='btnDeleteTour'>Xóa</button>
            </div>
        </div>
    </form>

    <div class="dataGrid">
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Mã tour</th>
                    <th scope="col">Tên tour</th>
                    <th scope="col">Giá tour</th>
                    <th scope="col">Phụ thu phòng đơn</th>
                    <th scope="col">Phương tiện</th>
                    <th scope="col">Khởi hành</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Địa điểm xuất phát</th>
                    <th scope="col">Điểm đến</th>
                    <th scope="col">Địa điểm tham quan</th>
                    <th scope="col">Số lượng khách tối đa</th>
                    <th scope="col">Số lượng khách tối thiểu</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#if tourInfo.length}}
                    {{#each tourInfo}}
                        <tr>
                            <th id="th-tour-id" scope="row">{{this.tour_id}}</th>
                            <td>{{this.tour_name}}</td>
                            <td>{{this.tour_price}}</td>
                            <td>{{this.tour_surcharge}}</td>
                            <td>{{this.tour_vehicle}}</td>
                            <td>{{this.tour_date_go}}</td>
                            <td>{{this.tour_time}}</td>
                            <td>{{this.tour_dest_start}}</td>
                            <td>{{this.tour_dest_end}}</td>
                            <td>{{this.destinationName}}</td>
                            <td>{{this.tour_max_customer}}</td>
                            <td>{{this.tour_min_customer}}</td>
                            <td id="description"></td>
                            <script>
                                // data inserted from summernote to database is a string
                                // so I need to convert plain text to html Object
                                let plainText = '{{this.tour_description}}';
                                let parser = new DOMParser();
                                let htmlCode = parser.parseFromString(plainText, 'text/html');
                                // console.log(htmlCode.body.outerText);
                                document.getElementById('description').innerHTML = htmlCode.body.outerText;
                            </script>
                            <td><input class='chooseTour' name="tour" type="checkbox" value="{{this.tour_id}}"/></td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr><td class="noData" colspan="13">Không có dữ liệu</td></tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
