<div class="container-fluid">
    <h3>Nhập thông tin tour</h3>
    <form method="POST">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Mã tour</label>
                <input type="text" class="form-control" name="tourId">
            </div>

            <div class="col-md-6 mb-3">
                <label>Tên tour</label>
                <input type="text" class="form-control" name="tourName">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label>Giá tour</label>
                <input type="text" class="form-control" name="tourPrice">
            </div>
            <div class="col-md-3 mb-3">
                <label>Phương tiện</label>
                <input type="text" class="form-control" name="tourVehicle">
            </div>
            <div class="col-md-3 mb-3">
                <label>Số lượng khách tối đa</label>
                <select class="custom-select" name="maxTourist">
                    <option value="25">25 người</option>
                    <option value="30">30 người</option>
                    <option value="35">35 người</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label>Số lượng khách tối thiểu</label>
                <select class="custom-select" name="minTourist">
                    <option value="20">20 người</option>
                    <option value="15">15 người</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Trạng thái</div>
            <div class="form-row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="tourStatus" checked="checked">
                        <label class="form-check-label">Hiện</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="tourStatus">
                        <label class="form-check-label">Ẩn</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Ngày khởi hành</label>
                <input type="text" class="form-control" name="dateGo" placeholder="dd/mm/yyyy">
            </div>
            <div class="col">
                <label>Thời gian</label>
                <input type="text" class="form-control" name="time" placeholder="3 ngày 2 đêm">
            </div>
            <div class="col">
                <label>Địa điểm xuất phát</label>
                <select class="custom-select" name="destStart">
                    <option value="">...</option>
                    <option value="">...</option>
                </select>
            </div>
            <div class="col">
                <label>Điểm đến</label>
                <select class="custom-select" name="destEnd">
                    <option value="">...</option>
                    <option value="">...</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Địa điểm tham quan</label>
                <select class="custom-select" name="touristDest" multiple>
                    <option value="">...</option>
                    <option value="">...</option>
                    <option value="">...</option>
                    <option value="">...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Chương trình Tour</label>
            <textarea class="form-control" name="tourDescription" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button class="btn btn-info" value="addTourAct" name="addTour" data-act='btnAddTour'>Thêm</button>
                <button class="btn btn-info" value="updateTourAct" name="updateTour" data-act='btnUpdateTour'>Cập nhật</button>
                <button class="btn btn-info" value="editTourAct" name="editTour" data-act='btnEditTour'>Sửa</button>
                <button class="btn btn-info" value="deleteTourAct" name="deleteTour" data-act='btnDeleteTour'>Xóa</button>
            </div>
        </div>
    </form>

    <div class="dataGrid">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Mã tour</th>
                    <th scope="col">Tên tour</th>
                    <th scope="col">Giá tour</th>
                    <th scope="col">Ngày đi</th>
                    <th scope="col">Ngày về</th>
                    <th scope="col">Giờ khởi hành</th>
                    <th scope="col">Địa điểm xuất phát</th>
                    <th scope="col">Địa điểm tham quan</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#if tourInfo.length}}
                    {{#each tourInfo}}
                        <tr>
                            <th id="th-tour-id" scope="row">{{this.tour_id}}</th>
                            <td>{{this.tour_name}}</td>
                            <td>{{this.tour_price}}</td>
                            <td>empty</td>
                            <td>empty</td>
                            <td>empty</td>
                            <td>empty</td>
                            <td>empty</td>
                            <td>{{this.tour_description}}</td>
                            <td><input class='chooseTour' name="tour" type="checkbox" value="{{this.tour_id}}"/></td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr><td class="noData" colspan="10">Không có dữ liệu</td></tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
